.container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.title {
  color:  #0a2cee;
  text-align: center;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weatherItem {
  font-size: 18px;
  color: #000000;
}
.weatherItem1 {
  font-size: 18px;
  color:#0a2cee;
  font-weight: 600;
}
