#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  text-align: center;
  
}
.nav-button {
  background-color: #0a2cee;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom:1px solid ;
  transition: background-color 0.3s;
  color:#ffff;
  margin: 1rem;
}

.nav-button:hover {
  background-color: #082aa4;
}

