.nav-button {
  background-color: #0a2cee;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  color:#ffff;
}

.nav-button:hover {
  background-color: #082aa4;
}
