.vejrStyle {
  background-color: #0c0c0c;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
}

.vejrStyle h2 {
  font-style:italic;
  font-weight: 400;
  color: #1dd8d5;
  margin-bottom: 0.5rem;
}

.vejrStyle p {
  margin: 0.25rem 0;
  color: #ffff;
}